@import url("/css/bootstrap/bootstrap.min.css");
@import url("/css/bootstrap/bootstrap-grid.min.css");
@import url("/css/bootstrap/bootstrap-reboot.min.css");

body {
	background-image: url("/imgs/bckgrd.compressed.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}