
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12" id="dyn1" filename="searchbar.html"></div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-lg-3 col-md-3" id="dyn2" filename="void.html"></div>
  <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-lg-6 col-md-6" id="dyn3" filename="void.html"></div>
  <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-3 col-lg-3 col-md-3" id="dyn4" filename="void.html"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12" id="dyn5" filename="void.html"></div>
  </div>
</div>